@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images.jpeg" alt="">
    <h1 class="display-5 fw-bold text-body-emphasis">Sistema de gestão financeira</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Foi escolhido o SQLite como banco de dados desta aplicacão apenas para evitar a necessidade de instalacão e scripts de inializacão do banco de dados para se usar a aplicacao.</p>
    </div>
</div>